= form_for [:admin, @service], :html => {:class => "form-horizontal"} do |s|

  .control-group
    %label.control-label Название услуги
    .controls
      = s.text_field :name

  .control-group
    %label.control-label Специализация
    .controls
      = s.select :speciality_id, options_for_select(Speciality.all.map{|f| [f.name, f.id]}, @service.speciality_id)

  .control-group
    %label.control-label Описание
    .controls
      = s.text_area :description, :style => "width:100%"

  .control-group
    %label.control-label Цена
    .controls
      = s.text_field :cost

  .form-actions
    -if @service.new_record?
      %input.btn.btn-success{:name => "save", :type => "submit", :value => "Создать"}
    -else
      %input.btn.btn-success{:name => "save", :type => "submit", :value => "Изменить"}
    %input.btn.btn-primary{:name => "apply",:type => "submit", :value => "Применить"}
    = link_to "назад",admin_services_path, :class => "btn"